
# added by GitSavvy
/.tags
tags

*.sublime-project

# added by GitSavvy
/.tags_sorted_by_file

# vim temporary files
*.sw[pmno]

# added by GitSavvy
build/
buildCplex/
buildStr/

# ignore test folder but py and cpp files (json needs to be force-added!):
test/*
!test/*.cpp
!test/*.py